/* ---------------HEADER --------------- */

header {
    background: lightblue;
}

/* ---------------MAIN --------------- */
main {
    background: lightcyan;
}

/* ---------------FOOTER --------------- */
footer {
    background: lightblue;
}


/* ---------------CONTAINER --------------- */

.container {
    background: lightgray;
}