/*inicio actividad*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: #ffff;
  font-family: "open Sans", sans-serif, Arial;
  font-size: 16px;
}
.container {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
}
/* header */
header {
  background-image: linear-gradient(#1e2838 30%, #3c5171 90%);
  background-size: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* estilo al meno */

header .menu {
  margin: 3px;
  text-align: center;

}

header .menu a{
    background: none;
    margin: 0 20px;
    color: #fff;
    padding: 5px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header .menu a:hover {
  border-bottom: 2px solid #fff;
}

/* texto */
header .container-text{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px 0 150px;
}
header .container-text .text {
  background-color: #101c33;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  
  text-align: center;
  width: 90%;
  padding: 20px;
  max-width: 1000px;

  display:flex;
  flex-direction: column;
  align-items: center;
}


header .container-text .text h1,
header .container-text .text h2,
header .container-text .text button{
  color: #fff;
  font-weight: 300;
  margin: 0;
}

header .container-text .text .name {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
}

header .container-text .text .profession {
 font-size: 25px;
 line-height: 25px;
 margin-bottom: 40px;
 font-family: 'Audiowide', sans-serif;
}

header .container-text .text .btn-cv{
  background: #a93226;
  color: white;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-top:10px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/*interaccion de descarga al curriculum*/
header .container-text .text .btn-cv:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255,255,255,0.5),
  0 0 20px rgba(255,255,255,0.2);
  outline-offset: 15px;
  outline-color: rgba(255,255,255,0);
  text-shadow: 1px 1px 2px #427388;
}

/* brillo que cruza el boton */
header .container-text .text .btn-cv::before{
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.5),
    transparent
  );
  transition: 0.6s;
}

/* animacion al pasar el mouse */
header .container-text .text .btn-cv:hover::before{
  left: 120%;
}

/* leve elevacion */
header .container-text .text .btn-cv:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* MAIN */
main .container {
  overflow: visible;
}
/*Acerca de */
main #section-about {
  text-align: center;
}
/*Estilo foto de perfil*/
main #section-about img {
  margin-top: -100px;
    width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255,255,255,0.4);
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
}

main #section-about .photo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  vertical-align: top;
  border: 5px solid rgba(255,255,255,0.2)

}

/*estilo texto about*/
main #section-about .text {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}

main #section-about .text .title {
   font-size: 34px;
   margin-bottom: 40px;
   line-height: 34px;
   font-weight: 300;
   color: #dd820d;
   text-align: center;
}

main #section-about .text .bold {
  color: #3895ea;
  text-decoration: underline;
}

/* estilo trabajos */
main #section-jobs{
  background: #f2f2f2;
  padding: 60px 0;
}

main #section-jobs .container{
  overflow: hidden;
}

/*LOS CONTAINER JOBS, COLUMNAS DE 3, 2 Y 1 JOB*/
.container-jobs,
.container-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
  justify-items: center;
}

/*TARJETAS DE TRABAJOS/JOBS*/
.job{
  text-align: center;
  max-width: 300px;
}

.thumb{
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main #section-jobs .container-jobs .job:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

/*estilo a la descripcion de cada trabajo*/
main #section-jobs .container-jobs .job .description{
  text-align: center;
}

main #section-jobs .container-jobs .job .description .name{
  font-weight: 700;
  color: #3895ea;
  margin-bottom: 10px;
}

main #section-jobs .container-jobs .job .description .category {
  font-size: 14px;
  color: #5a5a5a;
}

/*estilo a la seccion de habilidades*/
main #section-skills{
  padding: 60px 0;
}

main #section-skills .title {
  font-size: 34px;
  margin-bottom: 60px;
  line-height: 34px;
  font-weight: 300;
  color: #dd820d;
  text-align: center;
}

main #section-skills .container-skills .skill .icon-skill{
  padding: 0px 5px;
  width: 50%;
  margin-bottom: 10px;
  text-align: center;
}

main #section-skills .container-skills .skill .icon-skill i{
  width: 100%;
  font-size: 40px;
  transition: all 0.75s;
}

main #section-skills .container-skills .skill .icon-skill i:hover{
  
  transform: rotate(360deg);
}

main #section-skills .container-skills .skill .description{
  align-items: right;
  width: 100%;
}

main #section-skills .container-skills .skill .description .name{
  font-weight: 700;
  color: #3895ea;
}

main #section-skills .container-skills .skill .description .category{
  font-size: 14px;
  color: #5a5a5a;
}

/*footer*/
footer {
  background: #f2f2f2;
  color: #fff;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer #section-contact {
  padding: 60px 0;
}

footer #section-contact .form-message {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

footer #section-contact .form-message input[type="text"],
footer #section-contact .form-message input[type="email"],
footer #section-contact .form-message textarea {
  border:2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
  margin-bottom: 15px;
  box-sizing: border-box;
  flex: 1;
}

footer #section-contact .form-message textarea {
  border:2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
}

footer #section-contact .form-message textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  margin-bottom: 15px;
  min-height: 100px;
  max-height: 300px;
}

footer #section-contact .form-message .btn-send-msg{
  margin:auto;
  background: #3895ea;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
}

footer #section-contact .form-message .btn-send-msg:hover{
  background: #3895ea;
  
}

/*redes sociales en el footer*/
footer #section-social-media {
  background-image: linear-gradient(#1e2838 50%, #3c5171 90%);
  padding: 60px 0;
}

footer #section-social-media .container {
  display: flex;
  justify-content: center;
  gap:20;
}

footer #section-social-media .container a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-size: 30px;
  color: white;

  border-radius: 50%;
  text-decoration: none;
  transition: all 0.4s;
}

#section-social-media .container a i{
  font-size: 28px;
}

#section-social-media .facebook i{
  color:#1877f2;
}

#section-social-media .youtube i{
  color:#ff0000;
}

#section-social-media .github i{
  color:#333;
}

#section-social-media .facebook:hover{
  background:#1877f2;
}

#section-social-media .youtube:hover{
  background:#ff0000;
}

#section-social-media .github:hover{
  background:#333;
}

#section-social-media a:hover i{
  color:white;
}

footer #section-social-media .container a i{
  font-size: 40px;
  transition: transform 0.75s;
}


/* BARRA FLOTANTE O TOOLTIP*/
/* BARRA SOCIAL FLOTANTE */

.social-bar{
  position: fixed;
  left: 0;
  top: 30%;
  width: 50px;
  z-index: 1000;
}

/* ocultar checkbox */
#toggle-social{
  display:none;
}

/* boton toggle */
.toggle-btn{
  display:block;
  text-align:center;
  color:#49b0e6;
  font-size:14px;
  margin-bottom:5px;
  cursor:pointer;
  transform: rotate(180deg);
  transition:0.4s;
}

#toggle-social:checked + .toggle-btn{
  transform: rotate(0deg);
}

/* contenedor iconos */

.social-icons{
  transition:0.4s;
  transform: translateX(0);
  box-shadow:0 1px 10px rgba(0,0,0,0.3);
}

#toggle-social:checked ~ .social-icons{
  transform: translateX(-100%);
  box-shadow:none;
}

/* enlaces */

.social-icons a{
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  text-align:center;
  color:white;
  font-size:20px;
  position:relative;
  text-decoration:none;
  transition:0.3s;
}

.social-icons a:hover{
  background:#1c1c1c;
}

/* colores */

.facebook{background:#3b5998;}
.youtube{background:#e52a23;}
.github{background:#333;}

.facebook{border-radius:0 5px 0 0;}
.github{border-radius:0 0 5px 0;}

/* tooltip */

.tooltip{
  position:absolute;
  background:#1c1c1c;
  padding:4px 8px;
  border-radius:3px;
  font-size:14px;
  top:12px;
  left:0;
  opacity:0;
  visibility:hidden;
  transition:0.3s;
}

.social-icons a:hover .tooltip{
  left:60px;
  opacity:1;
  visibility:visible;
}


/*FIN DE PETICIONES DEL PROFE */



/*MIS CONFIG*/

/* NAVBAR */
nav {
  background: linear-gradient(to right, #1e2838, #3c5171);
  padding: 3px 0;
  font-family: "Audiowide", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  width: 100%;
  margin: 20px auto;
  border-radius: 0.3cm;
}

/* MENU */
.menu{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* LINKS EFECTO MMON*/
.menu a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 6px;
  position: relative;
  transition: all .25s ease;
}

/* EFECTO HOVER PARA MI LINEA ANIMADA*/
.menu a:hover{
  background: rgba(255,255,255,0.15);
  transform: translateY(-2px);
}

/* LINEA ANIMADA */
.menu a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #aaff00;
  transition: width .3s;
}

.menu a:hover::after{
  width: 100%;
}

/* BOTON HAMBURGUESA */
.menu-toggle{
  display: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  background: transparent;
}

/* RESPONSIVE MENU */
@media (max-width:600px){

  .menu-toggle{
    display:block;
    margin:auto;
  }

  .menu{
    display:none;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:20px 0;
  }

  .menu.show{
    display:flex;
  }

}

/* CONTENIDO PRINCIPAL */
main {
  width: 65%;
  max-width: 1100px;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* SECCIONES */
section {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: justify;
}

section:last-child {
  border: none;
}

section h2 {
  margin-bottom: 10px;
}

/* LISTAS */
ul {
  margin: 10px auto;
  display: inline-block;
  text-align: left;
}


/*mis h3 que son subtitulos*/
h3 {
  font-family: 'Coral Pixels', serif;
  text-align: center;
  margin: 20px 0;
}


/* CELULARES */
@media (max-width:700px){
  main{
    width: 90%;
  }
}
